*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}

nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: 100%;
    padding: 10px;
}
.logo{
    display: flex;
    margin-left: 20px;
}
.logo i{
    position: relative;
    top: 10%;
}
.a-logo{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-size: 20px;
}

.nav-ul{
    list-style: none;
    display: flex;
    
}

.live::before{
    content: "";
    display: inline-block;
    background-color: red;
    border-radius: 10px;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    animation: live 1s infinite;

}
.nav-ul a{
    margin: 20px;
    
}
.nav-ul a:active {
    background-color: black ;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.main-aside{
    display: flex;
}
.main{
    width: 70%;
    gap: 10px;

}
.politics{
    margin-top: 10px;
    margin-left: 20%;
    text-transform: uppercase;
    display: flex;
    
}
.politics h2{
    margin-bottom: 5px;
}

.cards{
    margin-top: 10px;
    margin-left: 20%;
    display: flex;
    margin: 10px;
}
.card{
    width:200px;
    height: 200px;
    border-radius: 10px;
    font-size: 15px;
    text-transform: capitalize;
    
}
.card img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: auto;
}
.card:hover{
    box-shadow: 0px 5px 30px rgba(128, 128, 128, 0.638);
}
.h-p{
    margin-left: 3px;
    line-height: 10px;
}
.card p{
    font-size: 10px;
    color: #797878a5;
    margin-top: 10px;
}

.aside{
    width: 30%;
}
.weather{
    margin: 20px auto;
    width: 75%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    text-transform: capitalize;
    line-height: 30px;
    position: relative;
    
    
}
.weather-h5{
    position: absolute;
    top: 0px;
    
}
.sunicon-temprature{
    margin-top: -5px;
}
.degree{
    display: inline-block;
}
.weekdays{
    display: flex;
    justify-content: space-around;
    text-transform:capitalize;
    color: #79787865;
    font-weight: 800;
    font-size: 15px;
    
}

.degrees{
  
  color: black;
    
    margin-top: -15px;
   
}

.exchange-rates{
    background-color: rgb(106, 115, 116);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bolder;
}
.ratings{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 10px;
    height: fit-content;
}
.inputs{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.input-live{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 
}
.label{
    background-color: white;
    width: 10%;
    padding: 10px;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.matches{
    margin: 5% auto;
    width: 75%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    text-transform: capitalize;
    line-height: 30px;
    font-size: 30px;
    font-weight:900;
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;}

.live2{
    color: rgb(252, 72, 72);
     width: 50px;
    height: 25px; 
    font-size: 15px;
    border-radius: 15px;
    text-align: center;
}

.team-names{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.matches h4{
    font-size: 15px;
}

.ratings img{
    border-radius:50%;
}
.scores{
    text-transform: uppercase;
    font-size: 10px;
    
}
.standings-main{
    margin: 20px auto;
    text-align: center;

}
.standings-main th{
   padding-left: 80px;
   font-size: 25px;
   text-align: center;

}

.club{
    padding-right: 55px;
    
}
.state{
    margin: 5% 50% ;
    font-size: 50px;
}
.table-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.table-title h2{
    margin: auto;
    background-color: white;
    padding: 10px;
    text-align: center;
    

}
.tables{
    display: flex;
    justify-content: space-evenly;
    
}


.footer{
    background-color: white;
    color: black;
    font-size: 50px;
    text-transform: capitalize;
    width: 100%;
    height: 5em;
    text-align: center;
}
@keyframes live {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
    
}